//Colors----------
$primaryColor: #F75B54;
$secondaryColor: #464646;
$primaryTransparent: rgba($primaryColor, 0.3);
$secondaryTransparent: rgba($secondaryColor, 0.95);
$primaryLight: lighten($primaryColor, 8%);
$primaryDark: darken($primaryColor, 8%);

$primaryGlow: opacify($primaryColor, 0.2);
//----------------

body{
  margin:0;
  background-color: $secondaryColor;
}

.mainContent {
  display: none;
}

/* Responsive Design */
* { box-sizing: border-box; }

.row::after {
  content: '';
  clear:both;
  display:block;
}

[class*="col-"] {
  width:100%;
  float: left;
  padding: 15px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* ----------- Content -----------*/

.container {
    display: inline-block;
    cursor: pointer;
    position:fixed;
    top:20px;
    right:25px;
    z-index: 100;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: $primaryColor;
    box-shadow: 0 1px 3px black;
    margin: 6px 0;
    transition: 0.4s;
}

.change {
  .bar1, .bar2, .bar3 {
    box-shadow:none;
  }
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.scrollMenu {
  position:fixed;
  top:0;
  width:100%;
  height:0px;
  z-index: 6;
  background-image: url('images/gray_sand_@2X.png');
  overflow:hidden;
  transition: height 0.3s;
  //display:none;
}

.menuLogoContainer{
  height:80px;
  width:80px;
  margin-left: 10px;
  position: relative;
  padding:15px;
}
.menuLogoContainer:hover {
   -webkit-animation: jumpRight1s ease 0s infinite normal ;
   animation: jumpRight 1s ease 0s infinite normal ;
   -webkit-filter: drop-shadow(0 0 20px $primaryColor);
   filter: drop-shadow(0 0 20px $primaryColor);
}
.menuLogo {
  max-width: 100%;
  max-height: 100%;
}

.toggleMenu {
  height:100% !important;
}
/* ----------- Top Jumbotron -----------*/
.jumbotron {
  height:500px;
  z-index: 3;
  overflow:hidden;
  background-image: url('images/collegeHall.jpg');
  //background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media only screen and (min-width: 600px) {
    height:700px;
  }

  @media only screen and (min-width: 768px) {
    height:800px;
  }
}

.leftJumbotron {
  position:relative;
  background-image: url('images/gray_sand_@2X.png');
  height:inherit;
  border-right:2px solid $primaryColor;
  @media only screen and (max-width: 768px) {
    display:none;
  }
}
.rightJumbotron {
  position:relative;

  height:inherit;
    &:before {
      content: '';
    	position: absolute;
	    top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .5;
      z-index: 0;
  }
}

.imageWrapper {
  width:300px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  top:-50%;
  user-select: none;
}

.imageWrapper:hover {
   -webkit-animation: jump 1s ease 0s infinite normal ;
   animation: jump 1s ease 0s infinite normal ;
   -webkit-filter: drop-shadow(0 0 20px $primaryColor);
   filter: drop-shadow(0 0 20px $primaryColor);
}
.imageWrapper:active {
   -webkit-filter: drop-shadow(0 0 20px $primaryLight);
   filter: drop-shadow(0 0 20px #primaryLight);
}

.imageWrapper::after{
  content:"backhand";
  font-size:64px;
  letter-spacing: 10px;
  font-family: sans-serif;
  color:rgba(255,255,255,0.9);
  position:absolute;
  left:50%;
  bottom:-25%;
  transform: translate(-50%);
}

@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);

  }
  20%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  40%{
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
  }
  50%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  60%{
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
  }
  80%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  -webkit-filter: drop-shadow(0 0 20px $primaryLight);
  filter: drop-shadow(0 0 20px #primaryLight);
  transition: 1s;
  }
  40%{
	transform: translateY(-30px);
  filter: drop-shadow(0 0 20px #primaryLight);
  transition: 1s;
  }
  50%{
	transform: translateY(0);

  }
  60%{
	transform: translateY(-15px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}
@-webkit-keyframes jumpRight {
  0%{
	-webkit-transform: translateX(0);
	transform: translateX(0);

  }
  20%{
	-webkit-transform: translateX(0);
	transform: translateY(0);
  }
  40%{
	-webkit-transform: translateX(14px);
	transform: translateX(14px);
  }
  50%{
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
  60%{
	-webkit-transform: translateX(7px);
	transform: translateX(7px);
  }
  80%{
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
  100%{
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
}

@keyframes jumpRight {
  0%{
	transform: translateX(0);
  }
  20%{
	transform: translateX(0);
  -webkit-filter: drop-shadow(0 0 20px $primaryLight);
  filter: drop-shadow(0 0 20px #primaryLight);
  transition: 1s;
  }
  40%{
	transform: translateX(14px);
  filter: drop-shadow(0 0 20px #primaryLight);
  transition: 1s;
  }
  50%{
	transform: translateX(0);

  }
  60%{
	transform: translateX(7px);
  }
  80%{
	transform: translateX(0);
  }
  100%{
	transform: translateX(0);
  }
}

.headlineWrapper {
  //border-radius:10px;
  background-color: $secondaryTransparent;
  position:absolute;
  right: -200%;
  top:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 1;
  border:2px solid $primaryColor;

    h1 {
      font-family: 'Caveat', sans-serif;
      font-weight: lighter;
      font-size:48px;
      text-transform: lowercase;
      color:$primaryColor;
      margin-top:10px;
      margin-bottom: 15px;
    }
    h2{
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 56px;
      color:white;
      margin-top: 0px;
      margin-bottom: 20px;
    }
}

.campusesButton {
    background-color: $primaryColor;
    //border-radius: 3px;
    color:rgba(255,255,255,1.0);
    font-weight: lighter;
    font-family: 'Caveat';
    font-size:28px;
    letter-spacing: 3px;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
    margin: 25px 60px 10px 60px;
    padding:10px 15px 10px 15px;
    transition: 0.2s;
    user-select: none;
    text-decoration: none;
    display:block;
}

.campusesButton:active {
  background-color: $primaryLight;
  transition: 0.1s;
}
/* -----------------------------*/


/* ----------Campuses------------*/
.campusRow{
  padding-top:0;
  padding-bottom:0;
  margin: auto;
  text-align: center;
  background-image: url('images/pow-star.png');
  background-position: center;
  background-repeat: repeat;
  z-index: 1;
  padding-top:80px;
  padding-bottom: 140px;
    h1 {
      font-family: 'Roboto Condensed', sans-serif;
      font-size:48px;
      color: $primaryColor;
      text-transform: uppercase;
      color:black;
      margin:0;
      margin-bottom: 75px;
      span{
        color: $primaryColor;
      }
    }
    h2 {
      font-size:48px;
      color: $primaryColor;
      text-shadow: 0 0 2px black;
      padding-top: 1000px;
      padding-bottom: 30px;
      margin-bottom: 0;
    }
}

.logoRow {
  position:relative;
  height:inherit;
}

.campus {
  text-align: center;
  padding-top:0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  height:inherit;

    @media only screen and (max-width: 600px) {
      position: relative;
      &::after {
        content:"";
        background: $primaryColor;
        position: absolute;
        top: 0;
        border-radius: 30px;
        height: 2px;
        width: 70%;
        transform: translateX(-50%)
      }
      //border-top:3px solid $primaryColor;
      //border-radius: 20% 20% -0% 0%;
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

.campus:hover {
  @media only screen and (min-width: 600px) {
    // background: -webkit-linear-gradient(transparent, yellow); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient(transparent, yellow); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(transparent, yellow); /* For Firefox 3.6 to 15 */
    // background: linear-gradient(transparent 70%, $primaryLight); /* Standard syntax */
    // text-shadow: 0 0 10px white;
  }

  .campusLogo{
    transition: 0.2s;
    margin-top:5px;
  }

  .imgWrapper {
  }
}

.leftBorder {
  @media only screen and (min-width: 600px) {
    border-left: 2px solid $primaryColor;
  }
}

.imgWrapper {
  position:relative;
  top:0%;
  left:50%;
  width:90%;
  height:15vw;
  transform: translate(-50%);
}

.campusLogo {
  max-width:90%;
  max-height:90%;
  transition: 0.2s;
}

.seeMoreCollegesButton {
  position:absolute;
  left:50%;
  border:2px solid $primaryColor;
  color: $secondaryColor;
  padding:15px;
  margin-top: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  transform: translate(-50%);
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    background-color: $primaryColor;
  }
}

.campusDescription {
  position:relative;
  text-align: center;
  width:100%;
  bottom:0%;
  left:0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto Condensed';
  font-weight: lighter;
    h3 {
      margin-bottom: 5px;
      font-family: 'Roboto Condensed';
    }
}


.appRow {
  height:250px;
  background-color:$primaryColor;
  z-index: 1;
  position: relative;
  overflow: hidden;
  transition: height 0.3s, background-color 1.5s;
}

.featuresRow {
  //height:800px;
  background-image:url('images/books.jpg');
  background-repeat: no-repeat;
  background-size: cover ;
  background-attachment: fixed;
  background-position: center;
  position:relative;
  background-position: top;
  overflow: hidden;
  &:before {
    content: '';
    position:absolute;
    z-index:0;
    display: block;
    left: 0; right: 0;
    bottom:0; top:0;
    background-color: $secondaryTransparent;
  }
}

.mockupImg {
  position:absolute;
  left:50%;
  top:50%;
  max-height: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.footer {
  height:200px;
  background-image: url('images/pow-star.png');
  position: relative;
  &:before {
    content: '';
    position:absolute;
    z-index:0;
    display: block;
    left: 0; right: 0;
    bottom:0; top:0;
  }
}

.prototype {
  position: absolute;
  bottom:100%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.showPrototype {
  position:absolute;
  left:50%;
  bottom:50%;
  transform: translate(-50%, 50%);
  background-color:white;
  color: $primaryColor;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  text-align: center;
  width:250px;
  padding: 20px 5px 20px 5px;
  cursor: pointer;
  text-transform: uppercase;
  &:active {
    background-color: rgb(200,200,200);
    transition: 0.2s;
  }
}

.clearButton {
  border:3px solid white;
  border-radius:50%;
  position:absolute;
  display:none;
  left:50%;
  top:4%;
  cursor: pointer;
  transform: translate(-50%);
  z-index: 100;

}
.featuresRow {
  position:relative;
  z-index: 4;
  text-align: center;
  //border:5px dotted green;
  h2 {
    z-index: 3;
    color:black;
    font-weight: lighter;
  }
}

.testimonialsDiv {
  z-index: 3;
  position: relative;
  h2 {
    color:$primaryColor;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:48px;
    padding-top: 20px;
    padding-bottom: 20px;

  }
}

.testimonialsRow {
  @media only screen and (max-width: 768px)  {
    display:none;
  }
  position:relative;
  width:100%;
  text-align: center;
  color:rgba(220,220,220,0.7);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  //border:3px dotted green;
}

.testimonial {

  cursor: pointer;
  font-weight: lighter;
  position:relative;
  //border:1px solid white;
  span {
    position:absolute;
    border:1px solid white;
    width:100%;
    height:100%;
    //display:block;
    bottom:0;
    left:0;
  }
}

.testimonialDropdown {
  @media only screen and (min-width: 768px)  {
    display:none;
  }
  position: relative;
  z-index: 10;
  width:60%;
  padding:10px;
  text-align: center;
  background-color: gray;
  border:none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  color:white;
  padding-left: 20px;
  transition: 0.2s;
  cursor: pointer;
  option {
    cursor: pointer;
  }
}
.testimonialDropdown:focus {
  outline:none;
}

.leftDivider {
  position: relative;
  //border:1px solid white;
  @media only screen and (min-width: 768px)  {
    &::after {
      content:"";
      background: $primaryColor;
      position: absolute;
      left:0;
      top:0;
      border-radius: 30px;
      height: 70%;
      width: 2px;
      transform: translateY(20%)
    }
  }
}

.testimonial:hover{
  color:rgba(240,240,240,1.0);
  transition: color 0.2s;
  //background-color:$primaryTransparent;
  transition: 0.2s;
}

.testimonial:active{
  color:rgba(250,250,250,1.0);
}
.quoteRow {
  overflow:hidden;
  //border:3px dashed yellow;
}

.presidentPhotoWrap {
  float:left;
  width:400px;
  //border:1px solid red;
}

.presidentPhotoContainer {
  //border:4px solid blue;

  float:left;
  width:33%;
  height:100%;
}

.presImage {
  -webkit-filter: drop-shadow(0 3px 3px black);
  filter: drop-shadow(0 3px 3px rgba(0,0,0,0.3));
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.testimonialContainer {
  position:absolute;
  height:425px;
  width:60%;
  left: 500px;
  bottom:12%;
  padding-right: 50px;
  text-align:left;
  h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
    font-size:54px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom:5px;
  }
  h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color:$primaryColor;
    font-size:24px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom:40px;
    margin-top: 0;
  }
  p {
    font-size: 20px;
    color: rgba(250,250,250,0.8);
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    line-height: 50px;
    font-weight: 100;
  }
}

.quoteRow {
  position: relative;
  height:500px;
  margin-top:35px;
  transition: height 0.3s;
  //width:100%;

}

.quote {
  text-align: left;
  padding-right:20px;
  @media only screen and (max-width: 768px)  {
    text-align: center;
  }
  h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
    font-size:54px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom:5px;
    margin-top: 5vw;
  }
  h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color:$primaryColor;
    font-size:24px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom:5px;
    margin-top: 0;
  }
  p {
    font-size: 20px;
    color: rgba(250,250,250,0.8);
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 40px;
    font-weight: 100;
  }
}

.presidentWrapper {
  border:1px solid white;
  position:absolute;
  //width:100%;
}

.presidentPhotoContainer{

  //border:1px solid black;
  @media only screen and (max-width: 768px)  {
    display:none;
  }
}
.presidentialImage {
  max-width: 85%;
  max-height: 90%;
  border-radius: 50%;
  padding:0;
  margins:0;

}

// .selected:hover {
//   padding-top:8px;
// }


/* -----------------------------*/


/* Material Design Box Shadows */
.elevationOne { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.elevationTwo {  box-shadow: -2px 3px 6px rgba(0,0,0,0.16), -2px 3px 6px rgba(0,0,0,0.23);}
.elvOneHoverable { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); transition: box-shadow 0.2s;}
.elvOneHoverable:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
.elevationFour {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.elevationFive {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
